@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary:oklch(54.6% 0.245 262.881);
    --color-secondary:#64748b;
    --color-dark: #0f172a;
}

body {
    font-family: sans-serif
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white/80 backdrop-blur-[5px] shadow dark:bg-dark/80;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white
}

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0
}

.hamburger-active > span:nth-child(3) {
    @apply origin-top-left -rotate-45
}

#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}